/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 375px) {
  .container {
    max-width: 400px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200x) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1536px;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fraunces", serif;
  font-weight: 700;
}

h1 {
  font-size: calc(1.425rem + 2.1vw);
  min-width: 0vw;
  line-height: calc(1.475rem + 2.7vw);
  min-width: 0vw;
}

@media (min-width: 1200px) {
  h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  h1 {
    line-height: 3.5rem;
  }
}

h2 {
  font-size: calc(1.375rem + 1.5vw);
  min-width: 0vw;
  line-height: calc(1.425rem + 2.1vw);
  min-width: 0vw;
}

@media (min-width: 1200px) {
  h2 {
    font-size: 2.5rem;
  }
}

@media (min-width: 1200px) {
  h2 {
    line-height: 3rem;
  }
}

h3 {
  font-size: calc(1.3125rem + 0.75vw);
  min-width: 0vw;
  line-height: calc(1.35rem + 1.2vw);
  min-width: 0vw;
}

@media (min-width: 1200px) {
  h3 {
    font-size: 1.875rem;
  }
}

@media (min-width: 1200px) {
  h3 {
    line-height: 2.25rem;
  }
}

h4 {
  font-size: calc(1.28125rem + 0.375vw);
  min-width: 0vw;
  line-height: calc(1.3125rem + 0.75vw);
  min-width: 0vw;
}

@media (min-width: 1200px) {
  h4 {
    font-size: 1.5625rem;
  }
}

@media (min-width: 1200px) {
  h4 {
    line-height: 1.875rem;
  }
}

h5 {
  font-size: calc(1.2625rem + 0.15vw);
  min-width: 0vw;
  line-height: calc(1.29rem + 0.48vw);
  min-width: 0vw;
}

@media (min-width: 1200px) {
  h5 {
    font-size: 1.375rem;
  }
}

@media (min-width: 1200px) {
  h5 {
    line-height: 1.65rem;
  }
}

h6 {
  font-size: 1.25rem;
  line-height: calc(1.275rem + 0.3vw);
  min-width: 0vw;
}

@media (min-width: 1200px) {
  h6 {
    line-height: 1.5rem;
  }
}

.about-section {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto minmax(auto, 100vh) minmax(auto, 100vh);
  margin-bottom: 100px;
}

.about-section__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-section__item h2 {
  font-weight: 900;
}

.about-section__item picture {
  width: 100%;
  height: 100%;
}

.about-section__item img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.about-section__item.descCont {
  padding: 50px 20px;
  text-align: center;
}

.about-section__item.descCont:first-of-type {
  grid-row-start: 2;
}

.about-section__item.inline-text {
  background-position: center;
  background-size: cover;
  justify-content: flex-end;
  align-items: center;
}

.about-section__item.inline-text h2 {
  font-size: 22px;
}

.about-section__item.inline-text .about-section__item__desc {
  text-align: center;
  padding: 0 20px 20px;
  margin-top: 15px;
}

.about-section__item.inline-text.graphic {
  color: #25564b;
  background-image: url("../images/mobile/image-graphic-design.jpg");
}

.about-section__item.inline-text.graphic .about-section__item__desc {
  color: #25564b;
}

.about-section__item.inline-text.photo {
  color: #19536b;
  background-image: url("../images/mobile/image-photography.jpg");
}

.about-section__item.inline-text.photo .about-section__item__desc {
  color: #19536b;
}

.about-section__item__desc {
  color: #818498;
  line-height: 2rem;
  margin: 30px 0 40px;
}

.about-section__item__readMore {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
}

.about-section__item__readMore--txt {
  position: relative;
  padding: 0 8px;
}

.about-section__item__readMore--txt::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 10px;
  border-radius: 6px;
  background-color: #fad400;
  opacity: 0.3;
}

.about-section__item__readMore--txt::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  top: 15px;
  border-radius: 6px;
  height: 10px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.about-section__item__readMore--txt:hover {
  cursor: pointer;
}

.about-section__item__readMore--txt:hover::before {
  right: 0;
}

.about-section__item__readMore--txt.yellow::before, .about-section__item__readMore--txt.yellow::after {
  background-color: #fad400;
}

.about-section__item__readMore--txt.red::before, .about-section__item__readMore--txt.red::after {
  background-color: #fe7867;
}

#testimonials {
  text-align: center;
}

#testimonials h3 {
  color: #a7abae;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.26rem;
}

#testimonials .client-testimonials {
  display: flex;
  flex-direction: column;
  padding: 70px 20px 90px;
}

#testimonials .client-testimonials__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#testimonials .client-testimonials__item:not(:last-of-type) {
  margin-bottom: 70px;
}

#testimonials .client-testimonials__item__img {
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
}

#testimonials .client-testimonials__item__img div {
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: contain;
}

#testimonials .client-testimonials__item__desc {
  color: #818498;
  line-height: 2rem;
  margin: 40px 15px;
}

#testimonials .client-testimonials__item__name {
  font-family: "Fraunces", serif;
  font-weight: 900;
  margin-bottom: 15px;
  font-size: 20px;
}

#testimonials .client-testimonials__item__title {
  color: #a7abae;
  font-size: 16px;
}

#photo-gallery {
  display: flex;
  flex-wrap: wrap;
}

#photo-gallery .photo-gallery-images {
  flex: 50%;
}

#photo-gallery .photo-gallery-images img {
  width: 100%;
  height: 100%;
}

@media (min-width: 1024px) {
  .about-section {
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .about-section__item.descCont {
    padding: 70px;
    text-align: left;
  }
  .about-section__item.descCont:first-of-type {
    grid-row-start: 1;
  }
  .about-section__item.inline-text .about-section__item__desc {
    padding: 0 118px 40px;
  }
  .about-section__item.inline-text.graphic {
    background-image: url("../images/desktop/image-graphic-design.jpg");
  }
  .about-section__item.inline-text.photo {
    background-image: url("../images/desktop/image-photography.jpg");
  }
  #testimonials h3 {
    font-size: calc(1.3125rem + 0.75vw);
    min-width: 0vw;
    line-height: calc(1.35rem + 1.2vw);
    min-width: 0vw;
    letter-spacing: 0.5rem;
  }
}

@media (min-width: 1024px) and (min-width: 1200px) {
  #testimonials h3 {
    font-size: 1.875rem;
  }
}

@media (min-width: 1024px) and (min-width: 1200px) {
  #testimonials h3 {
    line-height: 2.25rem;
  }
}

@media (min-width: 1024px) {
  #testimonials .client-testimonials {
    flex-direction: row;
    padding: 70px 70px 180px;
  }
  #testimonials .client-testimonials__item:not(:last-of-type) {
    margin-bottom: 0;
  }
  #testimonials .client-testimonials__item__desc {
    margin: 40px 15px 60px;
  }
  #photo-gallery .photo-gallery-images {
    flex: 20%;
  }
}

header {
  background-image: url("../images/mobile/image-header.jpg");
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px 25px 0;
  position: relative;
}

header .nav-bar {
  display: flex;
  justify-content: space-between;
  position: relative;
}

header .nav-bar__btn {
  display: block;
  width: 25px;
  height: 25px;
  border: none;
  background: transparent;
  position: relative;
  z-index: 100;
  appearance: none;
  cursor: pointer;
  outline: none;
}

header .nav-bar__btn .line {
  display: block;
  width: 25px;
  height: 2px;
  margin: auto;
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.4s ease;
}

header .nav-bar__btn .line--top {
  transform: translateY(-8px);
}

header .nav-bar__btn .line--bottom {
  transform: translateY(8px);
}

header .nav-bar__btn.active {
  opacity: 0.6;
}

header .nav-bar .logo {
  background-image: url("../images/logo.svg");
  width: 124px;
  height: 24px;
  background-repeat: no-repeat;
}

header .nav-bar nav {
  display: none;
  padding: 50px 0;
  z-index: 2;
}

header .nav-bar nav.active {
  display: flex;
  position: absolute;
  top: 0;
  background-color: white;
  margin-top: 50px;
  left: 0;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

header .nav-bar nav.active:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: -20px;
  right: 0;
  border-style: solid;
  border-width: 0 0 20px 20px;
  border-color: transparent transparent #ffffff transparent;
}

header .nav-bar nav a {
  color: #5a636c;
  text-decoration: none;
  transition: color 0.3s;
}

header .nav-bar nav a:hover, header .nav-bar nav a:focus {
  color: #818498;
}

header .nav-bar nav a:not(:last-of-type) {
  margin-bottom: 50px;
}

header .nav-bar nav a.btn {
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  color: black !important;
  background-color: #fad400;
  border-radius: 24px;
  padding: 15px 25px;
  transition: background-color 0.3s;
}

header .nav-bar nav a.btn:hover, header .nav-bar nav a.btn:focus {
  background-color: rgba(250, 212, 0, 0.4);
  cursor: pointer;
}

header .header-title {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-align: center;
  margin-top: 100px;
  position: unset;
}

header .header-title .nextArrow {
  background-image: url("data:image/svg+xml,%3Csvg width='36' height='114' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='%23FFF' stroke-width='6' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M18 3v100M3 95.484l15 15 15-15'/%3E%3C/g%3E%3C/svg%3E");
  position: absolute;
  width: 32px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  top: 300px;
  right: 50%;
  transform: translateX(50%);
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 10px 70px;
  background-color: #a3ddcf;
}

footer .logo {
  background-image: url("data:image/svg+xml,%3Csvg width='124' height='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.857 18.708c1.638 0 2.995-.36 4.07-1.08 1.075-.721 1.613-1.769 1.613-3.144-.083-1.855-1.464-3.246-4.144-4.173l-1.44-.597c-.314-.1-.538-.198-.67-.298a.45.45 0 01-.198-.373c0-.414.273-.62.819-.62.678 0 1.182.347 1.513 1.043l3.698-1.044c-.893-2.22-2.614-3.329-5.162-3.329-1.522 0-2.788.398-3.797 1.193C1.15 7.08.645 8.116.645 9.39c0 .398.058.766.174 1.106.116.34.29.638.521.894.232.257.455.48.67.671.215.19.488.369.82.534.33.166.582.286.756.36.174.075.41.162.707.261l.422.15 1.49.546c.363.133.6.244.707.335a.449.449 0 01.16.36c0 .431-.404.647-1.215.647-1.191 0-1.903-.53-2.134-1.59L0 14.509c.463 2.8 2.416 4.2 5.857 4.2zm11.636 0c1.638 0 2.845-.63 3.623-1.888v1.615h5.112V5.366h-5.112v7.156c0 1.474-.505 2.21-1.514 2.21-1.026 0-1.539-.736-1.539-2.21V5.366h-5.112v7.653c0 3.793 1.514 5.69 4.542 5.69zm16.103-.273V11.28c0-1.475.504-2.212 1.513-2.212 1.026 0 1.54.737 1.54 2.212v7.155h5.111v-7.652c0-3.793-1.513-5.69-4.541-5.69-1.638 0-2.846.63-3.623 1.888V5.366h-5.113v13.069h5.113zm15.383 0V11.28c0-1.475.504-2.212 1.514-2.212 1.025 0 1.538.737 1.538 2.212v7.155h5.113v-7.652c0-3.793-1.514-5.69-4.542-5.69-1.638 0-2.846.63-3.623 1.888V5.366h-5.113v13.069h5.113zM64.958 24l8.289-18.634H67.91l-2.532 6.684-2.258-6.684h-5.584l5.435 11.802L59.944 24h5.014zm13.67-5.292c1.638 0 2.995-.36 4.07-1.08 1.076-.721 1.614-1.769 1.614-3.144-.083-1.855-1.465-3.246-4.145-4.173l-1.44-.597c-.314-.1-.537-.198-.67-.298a.45.45 0 01-.198-.373c0-.414.273-.62.819-.62.678 0 1.183.347 1.514 1.043l3.698-1.044c-.894-2.22-2.614-3.329-5.162-3.329-1.522 0-2.788.398-3.797 1.193-1.01.795-1.514 1.83-1.514 3.105 0 .398.058.766.173 1.106.116.34.29.638.522.894.231.257.455.48.67.671.215.19.488.369.819.534.33.166.583.286.757.36.173.075.41.162.707.261l.422.15 1.489.546c.364.133.6.244.707.335a.449.449 0 01.161.36c0 .431-.405.647-1.216.647-1.19 0-1.902-.53-2.134-1.59l-3.723.844c.464 2.8 2.416 4.2 5.857 4.2zm9.8-14.137c.91 0 1.613-.215 2.11-.646.495-.43.744-.977.744-1.64 0-.678-.24-1.23-.72-1.651C90.082.21 89.371 0 88.428 0c-.943 0-1.655.211-2.135.634-.48.422-.72.973-.72 1.652 0 .662.249 1.209.745 1.64.497.43 1.2.645 2.11.645zm2.556 13.864V5.366H85.87v13.069h5.113zm7.74.273c1.737 0 2.977-.63 3.722-1.888v1.615h5.112V.472h-5.112v6.534c-.745-1.275-1.985-1.913-3.723-1.913-1.753 0-3.214.642-4.38 1.926-1.166 1.283-1.75 2.91-1.75 4.882 0 1.97.584 3.598 1.75 4.882 1.166 1.283 2.627 1.925 4.38 1.925zm1.39-3.9c-.729 0-1.312-.274-1.75-.82-.439-.547-.658-1.243-.658-2.087 0-.845.215-1.54.645-2.087.447-.547 1.034-.82 1.762-.82s1.311.273 1.75.82c.438.546.657 1.242.657 2.087 0 .844-.219 1.54-.657 2.087-.439.546-1.022.82-1.75.82zm16.698 3.9c2.597 0 4.624-.754 6.08-2.26l-2.11-2.833c-1.042.845-2.217 1.267-3.524 1.267-.992 0-1.799-.224-2.42-.67-.62-.448-.93-.879-.93-1.293h9.604c.083-.298.124-.687.124-1.167 0-2.054-.674-3.677-2.022-4.87-1.349-1.193-3.073-1.789-5.175-1.789-2.25 0-4.028.671-5.335 2.013-1.307 1.341-1.961 2.956-1.961 4.844 0 1.938.69 3.549 2.072 4.833 1.382 1.283 3.247 1.925 5.597 1.925zm2.208-8.149h-5.112c.033-.613.298-1.08.794-1.404.496-.323 1.084-.484 1.762-.484.678 0 1.266.165 1.762.497.497.331.761.795.794 1.391z' fill='%2325564b' fill-rule='nonzero'/%3E%3C/svg%3E");
  width: 200px;
  height: 39px;
  background-size: cover;
  background-repeat: no-repeat;
}

footer .footer-links {
  margin-top: 40px;
  margin-bottom: 70px;
}

footer .footer-links a {
  color: #458c7e;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

footer .footer-links a:not(:last-of-type) {
  margin-right: 65px;
}

footer .footer-links a:hover, footer .footer-links a:focus {
  color: white;
}

footer .social-media-links a {
  text-decoration: none;
}

footer .social-media-links a:not(:last-of-type) {
  margin-right: 25px;
}

footer .social-media-links a svg path {
  transition: fill 0.3s;
}

footer .social-media-links a:hover svg path, footer .social-media-links a:focus svg path {
  fill: white;
}

@media (min-width: 1024px) {
  header {
    background-image: url("../images/desktop/image-header.jpg");
    padding: 30px 25px 0;
  }
  header .nav-bar {
    display: flex;
    justify-content: space-between;
  }
  header .nav-bar__btn {
    display: none;
  }
  header .nav-bar nav {
    display: block;
    padding: 0;
  }
  header .nav-bar nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  header .nav-bar nav a:not(:last-child) {
    margin-right: 50px;
  }
  header .nav-bar nav a:hover, header .nav-bar nav a:focus {
    color: #19536b;
  }
  header .nav-bar nav a.btn {
    text-transform: uppercase;
    font-family: "Fraunces", serif;
    color: black !important;
    background-color: white;
    border-radius: 24px;
    padding: 15px 25px;
    transition: background-color 0.3s, color 0.3s;
  }
  header .nav-bar nav a.btn:hover, header .nav-bar nav a.btn:focus {
    color: white !important;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
  }
  header .header-title .nextArrow {
    top: 370px;
  }
  footer {
    padding: 70px;
  }
  footer .footer-links {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  footer .footer-links a:not(:last-of-type) {
    margin-right: 45px;
  }
}
/*# sourceMappingURL=main.css.map */